# here we will predict the salary

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [13]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

/opt/anaconda3/envs/mlops/lib/python3.10/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [14]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1,write_graph=True,write_images=True )

In [15]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [16]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100

250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 984us/step - loss: 99672.4922 - mae: 99672.4922 - val_loss: 98538.0234 - val_mae: 98538.0234
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 633us/step - loss: 99710.9766 - mae: 99710.9766 - val_loss: 97152.0938 - val_mae: 97152.0938
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 681us/step - loss: 96747.2656 - mae: 96747.2656 - val_loss: 93493.8125 - val_mae: 93493.8125
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 578us/step - loss: 94543.6250 - mae: 94543.6250 - val_loss: 87217.6094 - val_mae: 87217.6094
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 583us/step - loss: 86471.0469 - mae: 86471.0469 - val_loss: 79067.3906 - val_mae: 79067.3906
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 672us/step - loss: 78730.1328 - mae: 78730.1328 - val_loss: 70453.4766 - val_mae: 70453.4766
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 623us/step - loss: 69543.1172 - mae: 69543.1172 - val_loss: 62851.3594 - val_mae: 62851.3594
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 578us/step - loss: 61034.3438 - mae: 61034.3438 - val_loss: 57084.8750 - val_mae: 57084.8750
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 578us/step - loss: 56450.6055 - mae: 56450.6055 - val_loss: 53613.6445 - val_mae: 53613.6445
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 828us/step - loss: 52297.8750 - mae: 52297.8750 - val_loss: 52000.1133 - val_mae: 52000.1133
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 741us/step - loss: 51236.6562 - mae: 51236.6562 - val_loss: 51406.7266 - val_mae: 51406.7266
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 586us/step - loss: 51262.3320 - mae: 51262.3320 - val_loss: 51201.1641 - val_mae: 51201.1641
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 568us/step - loss: 49802.8867 - mae: 49802.8867 - val_loss: 51101.2031 - val_mae: 51101.2031
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 654us/step - loss: 50139.2773 - mae: 50139.2773 - val_loss: 51035.2578 - val_mae: 51035.2578
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 558us/step - loss: 50317.5977 - mae: 50317.5977 - val_loss: 50977.6055 - val_mae: 50977.6055
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 588us/step - loss: 50496.6172 - mae: 50496.6172 - val_loss: 50921.7891 - val_mae: 50921.7891
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 592us/step - loss: 50517.4023 - mae: 50517.4023 - val_loss: 50869.9727 - val_mae: 50869.9727
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - loss: 49790.7969 - mae: 49790.7969 - val_loss: 50819.1836 - val_mae: 50819.1836
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - loss: 49761.3438 - mae: 49761.3438 - val_loss: 50781.1328 - val_mae: 50781.1328
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 599us/step - loss: 49655.0273 - mae: 49655.0273 - val_loss: 50746.4492 - val_mae: 50746.4492
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 586us/step - loss: 50001.7969 - mae: 50001.7969 - val_loss: 50714.5508 - val_mae: 50714.5508
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 586us/step - loss: 50575.8164 - mae: 50575.8164 - val_loss: 50675.7695 - val_mae: 50675.7695
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 671us/step - loss: 49558.1797 - mae: 49558.1797 - val_loss: 50643.0039 - val_mae: 50643.0039
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 611us/step - loss: 50181.0898 - mae: 50181.0898 - val_loss: 50622.0156 - val_mae: 50622.0156
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 612us/step - loss: 50224.1836 - mae: 50224.1836 - val_loss: 50594.8320 - val_mae: 50594.8320
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 621us/step - loss: 49690.7539 - mae: 49690.7539 - val_loss: 50567.9102 - val_mae: 50567.9102
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 740us/step - loss: 49962.0352 - mae: 49962.0352 - val_loss: 50547.0195 - val_mae: 50547.0195
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 588us/step - loss: 50372.5742 - mae: 50372.5742 - val_loss: 50534.5859 - val_mae: 50534.5859
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 763us/step - loss: 49879.5078 - mae: 49879.5078 - val_loss: 50518.2969 - val_mae: 50518.2969
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 667us/step - loss: 49430.3750 - mae: 49430.3750 - val_loss: 50504.5938 - val_mae: 50504.5938
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 564us/step - loss: 49679.9688 - mae: 49679.9688 - val_loss: 50490.6641 - val_mae: 50490.6641
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 551us/step - loss: 49468.7734 - mae: 49468.7734 - val_loss: 50465.2695 - val_mae: 50465.2695
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step - loss: 49715.2109 - mae: 49715.2109 - val_loss: 50459.0273 - val_mae: 50459.0273
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 550us/step - loss: 49968.1328 - mae: 49968.1328 - val_loss: 50441.4414 - val_mae: 50441.4414
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 552us/step - loss: 49505.1523 - mae: 49505.1523 - val_loss: 50432.2852 - val_mae: 50432.2852
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 625us/step - loss: 49992.8594 - mae: 49992.8594 - val_loss: 50411.8789 - val_mae: 50411.8789
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 557us/step - loss: 49693.2227 - mae: 49693.2227 - val_loss: 50402.5000 - val_mae: 50402.5000
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 551us/step - loss: 49691.4492 - mae: 49691.4492 - val_loss: 50405.9805 - val_mae: 50405.9805
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - loss: 50420.8984 - mae: 50420.8984 - val_loss: 50397.3906 - val_mae: 50397.3906
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 887us/step - loss: 49787.3867 - mae: 49787.3867 - val_loss: 50385.2422 - val_mae: 50385.2422
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 581us/step - loss: 49552.2383 - mae: 49552.2383 - val_loss: 50394.6562 - val_mae: 50394.6562
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step - loss: 49676.7227 - mae: 49676.7227 - val_loss: 50380.3164 - val_mae: 50380.3164
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 668us/step - loss: 50061.0508 - mae: 50061.0508 - val_loss: 50370.8047 - val_mae: 50370.8047
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 559us/step - loss: 50027.2695 - mae: 50027.2695 - val_loss: 50353.3984 - val_mae: 50353.3984
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 580us/step - loss: 49836.3164 - mae: 49836.3164 - val_loss: 50358.6719 - val_mae: 50358.6719
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 579us/step - loss: 49148.4961 - mae: 49148.4961 - val_loss: 50348.6055 - val_mae: 50348.6055
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step - loss: 49903.5312 - mae: 49903.5312 - val_loss: 50356.8008 - val_mae: 50356.8008
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 571us/step - loss: 50017.2891 - mae: 50017.2891 - val_loss: 50351.4414 - val_mae: 50351.4414
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 559us/step - loss: 49390.0547 - mae: 49390.0547 - val_loss: 50346.4336 - val_mae: 50346.4336
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 560us/step - loss: 49562.4727 - mae: 49562.4727 - val_loss: 50338.2539 - val_mae: 50338.2539
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step - loss: 49926.2305 - mae: 49926.2305 - val_loss: 50330.9219 - val_mae: 50330.9219
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 549us/step - loss: 50200.0508 - mae: 50200.0508 - val_loss: 50337.9727 - val_mae: 50337.9727
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 549us/step - loss: 49092.9492 - mae: 49092.9492 - val_loss: 50332.7109 - val_mae: 50332.7109
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 613us/step - loss: 49396.2070 - mae: 49396.2070 - val_loss: 50334.0742 - val_mae: 50334.0742
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 587us/step - loss: 49522.7930 - mae: 49522.7930 - val_loss: 50326.8828 - val_mae: 50326.8828
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 631us/step - loss: 49053.2461 - mae: 49053.2461 - val_loss: 50323.5781 - val_mae: 50323.5781
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 558us/step - loss: 50008.0898 - mae: 50008.0898 - val_loss: 50310.4883 - val_mae: 50310.4883
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 552us/step - loss: 49747.8555 - mae: 49747.8555 - val_loss: 50314.7148 - val_mae: 50314.7148
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step - loss: 49931.4531 - mae: 49931.4531 - val_loss: 50324.1680 - val_mae: 50324.1680
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 559us/step - loss: 49219.4922 - mae: 49219.4922 - val_loss: 50316.8359 - val_mae: 50316.8359
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step - loss: 49154.1953 - mae: 49154.1953 - val_loss: 50327.5312 - val_mae: 50327.5312
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 588us/step - loss: 49525.1250 - mae: 49525.1250 - val_loss: 50316.6953 - val_mae: 50316.6953
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step - loss: 49326.9180 - mae: 49326.9180 - val_loss: 50320.7656 - val_mae: 50320.7656
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 561us/step - loss: 48992.5898 - mae: 48992.5898 - val_loss: 50316.7695 - val_mae: 50316.7695
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 549us/step - loss: 49550.9258 - mae: 49550.9258 - val_loss: 50311.9375 - val_mae: 50311.9375
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 553us/step - loss: 49345.1836 - mae: 49345.1836 - val_loss: 50299.7188 - val_mae: 50299.7188
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 556us/step - loss: 48843.4297 - mae: 48843.4297 - val_loss: 50293.5938 - val_mae: 50293.5938
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 719us/step - loss: 49341.7773 - mae: 49341.7773 - val_loss: 50309.4141 - val_mae: 50309.4141
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 576us/step - loss: 49382.5625 - mae: 49382.5625 - val_loss: 50297.6445 - val_mae: 50297.6445
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 556us/step - loss: 49303.6055 - mae: 49303.6055 - val_loss: 50303.5859 - val_mae: 50303.5859
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step - loss: 49506.3047 - mae: 49506.3047 - val_loss: 50305.4766 - val_mae: 50305.4766
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 558us/step - loss: 49493.9883 - mae: 49493.9883 - val_loss: 50310.5234 - val_mae: 50310.5234
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 551us/step - loss: 49214.7227 - mae: 49214.7227 - val_loss: 50305.5117 - val_mae: 50305.5117
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 553us/step - loss: 49288.6641 - mae: 49288.6641 - val_loss: 50312.5234 - val_mae: 50312.5234
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 583us/step - loss: 49622.7656 - mae: 49622.7656 - val_loss: 50304.6836 - val_mae: 50304.6836
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step - loss: 49062.4062 - mae: 49062.4062 - val_loss: 50305.4805 - val_mae: 50305.4805
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 555us/step - loss: 49202.5625 - mae: 49202.5625 - val_loss: 50308.1914 - val_mae: 50308.1914

In [17]:
%load_ext tensorboard

In [21]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 93268), started 0:00:09 ago. (Use '!kill 93268' to kill it.)

In [19]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 419us/step - loss: 51140.2578 - mae: 51140.2578
Test MAE : 50293.59375

In [20]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.